/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralintegration -profile test_Dmel,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'D. melanogaster Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    // TODO Add this to nf-core/test-datasets
    input = "${baseDir}/assets/test_Dmelanogaster.csv"

    // Genome references
    genome = 'BDGP6'
    viral_fasta = 'https://raw.githubusercontent.com/broadinstitute/CTAT-VirusIntegrationFinder/master/testing/HPV16.fa'
    large_fasta = "${baseDir}/assets/GRCh38_chr6-11-18.fa"
    te_fasta    = "https://raw.githubusercontent.com/SnehaGummadi/viralintegration/master/Dmelanogaster_data/transposons_Dmelanogaster.fa"
    fasta = "https://raw.githubusercontent.com/SnehaGummadi/viralintegration/master/Dmelanogaster_data/chr2L_Dmelanogaster.fa"
    gtf = "${baseDir}/assets/Dmel_reference.gtf"

    // See following link for more Dmel data links
    // https://raw.githubusercontent.com/SnehaGummadi/viralintegration/master/Dmelanogaster_data/Dmelanogaster_data_links.txt
}
